[user]
	email = benjamin@ben256.com
	name = ben256dev
[init]
	defaultBranch = main
[core]
	editor = vi
	excludesFile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
