configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Papirus";
    display-drun: "";
    display-run: "";
    drun-display-format: "{name}";
    font: "JetBrains Mono 12";
}

@theme "ben256"
